/* optional: add some border to your canvas */
canvas{
    border: 5px solid turquoise;
}

div{
display: flex;
flex-direction: column;
align-items: center;
}


button{
    margin-top: 5px;
    width: 250px;
    background-color: indigo;
    color: chartreuse;
}